<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Hello My Blog - 이 파일은 post_list.html</h1>
<!--    <ul>-->
<!--        {% for p in posts %}-->
<!--        <li>{{ p.pk }} / {{p.title}} / {{ p.created_at }} / {{ p.updated_at }}</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
    <table border="1">
        <thead>
            <tr>
                <th>글 번호</th>
                <th>제목</th>
                <th>작성 시간</th>
            </tr>
        </thead>
        <tbody>
            {% for p in post_list %}
                <tr>
                    <td>{{ p.pk }}</td>
                    <td><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></td>
                    <td>{{ p.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<!--<hr />-->
<!--{% for p in posts %}-->
<!--    <hr />-->
<!--    <h3>{{ p.title }}</h3>-->
<!--    <h4>{{ p.created_at }}</h4>-->
<!--    <p>{{ p.content }}</p>-->
<!--{% endfor %}-->
</body>
</html>